:root{
    --color-red: #cc2121;
}
* , 
*::after, 
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


input{
    text-align: right;
}


input::placeholder{
    font-size: .9rem;
}

.form-control:focus {
    border-color: var(--color-red) !important;
    box-shadow: 0 0 0 0.20rem rgba(177, 8, 23, 0.25);
  }

.text-password{
    color: var(--color-red);
    text-decoration: none;
}
.text-password:hover,
.text-password:focus {
    color: var(--color-red);
}

.form-check-input:focus{
    border-color: var(--color-red);
    box-shadow: 0 0 0 0.20rem rgba(177, 8, 23, 0.25);
}

.form-check-input:checked{
background-color: var(--color-red);
border: var(--color-red);
}